Source: vlfeat
Standards-Version: 3.9.4
Maintainer: Romain Janvier <romain.janvier@hotmail.fr>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9)

Package: libvlfeat
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A computer vision library
 <insert long description, indented with spaces>

Package: libvlfeat-dev
Section: libdevel
Architecture: any
Depends: libvlfeat (= ${binary:Version})
Description: A computer vision library
 <insert long description, indented with spaces>

Package: vlfeat
Architecture: any
Depends: libvlfeat (= ${binary:Version})
Description: A computer vision program
 sift, mser, aib.
